{# app/Resources/views/lucky/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
       <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
       <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
	{% include './index/header.html.twig' %}
	<div class="container contenedor oculto">
	 {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
	    <div class="block bloque formreglas">
	    	<h1>Sistema intérprete de reglas Rol</h1>
	    	<form action="./reglas" method="post" class="formreglas" {{ form_enctype(form) }}>
	    		{{ form_widget(form) }}
	   			<input type="submit" class="btn btn-success" value="Enviar"/>
			</form>
		</div>
		<div class="block bloque">
			<div class="panel panel-default oculto" id="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Resultado de la acción</h3>
				</div>
				<div class="panel-body" id="panelbody"></div>
				<table class="table" id="paneltable">
					<tr>
					{% for key in hola|keys %}
            			<th>{{key}}</th>
				    {% endfor %}
				    </tr>
				   	{% if attribute(hola,'Personaje') is defined %}
					   	{% if attribute(hola,'Personaje') is iterable %}
					    <tr>
						    {% for value in hola %}
						 		<td>{{value[0]}}</td>
						    {% endfor %}
					    </tr>
					    <tr>
					    	{% for value in hola %}
						 		<td>{{value[1]}}</td>
						    {% endfor %}
					    </tr>
					    {% else %}
					    <tr>
						    {% for value in hola %}
						 		<td>{{value}}</td>
						    {% endfor %}
					    </tr>
					    {% endif %}
				    {% endif %}
				</table>
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- Include hidden function for panels -->
    <script src="js/index.js"></script>
{% endblock %}